<section class="sectionContentFrame sectionTextJustification">
  <h2>About listMe</h2>
  <p>listMe is a site that offers the users the option to create lists with tasks that they want to manage.</p>
  <p>The users are offered the option to create, modify and delete their lists.</p>
  <p>The technologies that were used to build this app are:</p>
  <ul>
    <li>handlebars for the pages templating</li>
    <li>Vanilla CSS for page styling</li>
    <li>JQuery for the pages interactivity</li>
    <li>knex js for the databases query builder</li>
    <li>Node for the server side I/O environment</li>
    <li>Express js as an api builder</li>
    <li>PostgreSqL for the database structure</li>
  </ul>
<h3>Developers:</h3>
<h4>Jeremy Beal</h4>
<p>Jeremy is a graduate from Galvanize immersive Full Stack Developer program. Here is a sampling of his past work:</p>
<ul>
  <li>
    <a href="https://github.com/bealjr85/sf-crime-distance-map">Crime distance map</a>.
    The Safe Way is an algorithm Jeremy designed that utilizes a self-made graph representation of San Francisco’s grid street plan. 
    Pulling data from SFOpenData, each street’s weight was assigned a value computed from both street-block distance
    as well as an aggregated score representing the many instances of different types of crime that had occurred in that location.
    Using this map and The Safe Way’s modified A* algorithm allows a user to optimize walking directions for both distance and safety given
    an origin and destination location in San Francisco.
    In short, the algorithm optimizes for the safest and fastest path between two points.
  </li>
  <li>
    <a href="https://github.com/bealjr85/q2-route-finder">Route finder</a>.
    Route Finder is a platform for users to discover bike rides around them, record new bikes rides, and view past rides recorded or favorited.
    Users can record new rides on the app (using web sockets) and view them later on their dashboard.
    Users can also search for new rides based on their preferred location, distance, and climb.
    The app also pulls in any Strava data so they can view all their activity and discovered rides in one place.
  </li>
  <li>
    <a href="https://git.io/vMM8C">A CSS tutorial</a>. Pages get enhanced as the user goes through them. Mobile friendly (html, css).
  </li>
</ul>
<p>If you are interested, feel free to contact him via email at <a href="mailto:bealjr85@gmail.com"></a>bealjr85@gmail.com</p>
<h4>Paraskevas Apostolopoulos</h4>
<p>Paraskevas (aka Paris) is a graduate from Galvanize immersive Full Stack Developer program. Other projects that he has worked on in the past are:</p>
<ul>
  <li>
    <a href="http://writeit.pro">writeIt.pro</a>. A full stack CRUD app that includes a wysiwyg text editor, image and video uploading (vanilla JS, html, vanilla css, handlebars, knex, node, express, postgreSQL).
  </li>
  <li>
    <a href="http://hangman.pro">hangman.pro</a>. A Hangman game (html, css, jquery).
  </li>
  <li>
    <a href="http://sportyTourist.com">sportytourist.com</a>. Sports news aggregator site (html, css, javascript, jquery) (front end only, wip).
  </li>
  <li>
    <a href="https://git.io/vyfiO">Spotify Ajax calls</a>. Ajax Calls on Spotify and return of artists discography (html, css, javascript, promises calls).
  </li>
  <li>
    <a href="https://shorten.herokuapp.com/dz85y">Image filters</a>. Image filtering console. node.js server, html, css, javascript (wip).
  </li>
  <li>
    <a href="https://git.io/vMM8C">A CSS tutorial</a>. Pages get enhanced as the user goes through them. Mobile friendly (html, css).
  </li>
</ul>
<p>If you are interested, feel free to contact me via email at <a href="mailto:papostolopoulos@gmail.com"></a>papostolopoulos@gmail.com</p>
</section>
