<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

Log In: <br>
<form class="" action="/login" method="post" id="logInForm">
  <input type="email" name="email" value="">
  <input type="password" name="password" value="">
  <button type="submit" name="logInSubmitButton" id="loginSubmitButton">Log in</button>
</form>

<br>
Sign Up: <br>
<form class="" action="/signup" method="post" id="signUpForm">
  <input type="email" name="email" value="">
  <input type="password" name="password" value="">
  <button type="submit" name="logInSubmitButton" id="loginSubmitButton">Log in</button>
</form>
