<h2>Welcome to {{title}}</h2>

<section id="sectionLoginSignup">
  <!-- LOGIN FORM -->
  <form class="formLoginSignup" action="/login" method="post" id="formLogin">
    <h3>Login</h3>
    <table class="tablesLoginSignup">
      <tbody>

        <tr>
          <td>Email:</td>
          <td>
            <input type="email" name="email" value="">
          </td>
        </tr>

        <tr>
          <td>Password:</td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>
            <button type="submit" name="logInSubmitButton" id="loginSubmitButton">Login</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>


  <!-- SIGN UP FORM -->
  <form class="formLoginSignUp" action="/signup" method="post" id="formSignup">
    <h3>Sign up</h3>
    <table class="tablesLoginSignup">
      <tbody>
        <tr>
          <td>Email:</td>
          <td>
            <input type="email" name="email" value="">
          </td>
        </tr>

        <tr>
          <td>Password:</td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>
            <button type="submit" name="logInSubmitButton" id="signupSubmitButton">Sign up</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</section>
