<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="container">

    </div>
    <div id="headerDiv">
      <header>
        <div class="headerthirds">

        </div>

        <div class="headerthirds">
          <div id="logo">
            <h1>Jeremy's lists</h1>
          </div>
        </div>

        <div class="headerthirds">
          <nav>
            links go here
          </nav>
        </div>
      </header>
    </div>


      <main>

        {{{body}}}

      </main>


    <div id="footerDiv">
      <footer>
        The footer is here
      </footer>
    </div>


  </body>
</html>
