<!DOCTYPE html>
<html>
  <head>
    <title>Jeremy's lists</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script type="text/javascript" src="/js/lib/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <div id="container">

    </div>
    <div id="headerDiv">
      <header>
        <div class="headerthirds">
          <div id="headerFirstThird">
            <h5>User: <br> {{user}}</h5>
          </div>
        </div>

        <div class="headerthirds">
          <div id="headerSecondThird">
            <a href="/">
              <h1>Jeremy's lists</h1>
            </a>
          </div>
        </div>

        <div class="headerthirds">
          <div id="headerThirdThird">
            <nav>
              <ul>
                <li>
                  <a href="/lists/{{user}}">My lists</a>
                </li>
                <li>
                  <a href="/newlist">New list</a>
                </li>
                <li>
                  <a href="/usersettings">User settings</a>
                </li>
                <li>
                  <a href="#" id="aLogout">Logout</a>
                  <form class="" action="/logout" method="get">
                    <button type="submit" name="buttonLogout" id="buttonLogout"></button>
                  </form>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    </div>


      <main>

        {{{body}}}

      </main>


    <div id="footerDiv">
      <footer>
        <h2>&copy; Jeremy Beal - March 2017</h2>
      </footer>
    </div>

    <script type="text/javascript">
      var aLogout = document.getElementById('aLogout');
      aLogout.addEventListener('click', clickLogoutSubmit)

      function clickLogoutSubmit() {
        document.getElementById('buttonLogout').click();
      }
    </script>


  </body>
</html>
