<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="container">

    </div>
    <div id="headerDiv">
      <header>
        <div class="headerthirds">
          <div id="headerFirstThird">
            <h5>User: <br> {{user}}</h5>
          </div>
        </div>

        <div class="headerthirds">
          <div id="headerSecondThird">
            <a href="/">
              <h1>Jeremy's lists</h1>
            </a>
          </div>
        </div>

        <div class="headerthirds">
          <div id="headerThirdThird">
            <nav>
              <ul>
                <li>
                  <a href="/lists/{{user}}">My lists</a>
                </li>
                <li>
                  <a href="#">New list</a>
                </li>
                <li>
                  <a href="#">User settings</a>
                </li>
                <li>
                  <a href="#">Logout</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    </div>


      <main>

        {{{body}}}

      </main>


    <div id="footerDiv">
      <footer>
        <h2>&copy; Jeremy Beal - March 2017</h2>
      </footer>
    </div>


  </body>
</html>
