
<section id="sectionNewList">
  <h1>To-Do List <i class='fa fa-plus'></i></h1>
  <input type="text" name="title" value="" placeholder="Title of list" required><br>
  <input type="text" placeholder= "Add New Todo">
  <ul>
    <li><span><i class="fa fa-trash"></i></span> Smoke Weed</li>
    <li><span><i class="fa fa-trash"></i></span> Drink Beer</li>
    <li><span><i class="fa fa-trash"></i></span> Get Job</li>
  </ul>
</section>

<script type="text/javascript" src="/js/todos.js"></script>
