<section>

  <h3>Update account settings</h3>
  <form class="" id="formUpdateAccount" action="/usersettings/updateaccount?_method=PUT" method="post">
    <table id="tableUpdateAccount">
      <tbody>
        <tr>
          <td>New email:</td>
          <td>
            <input type="email" name="email" value="" placeholder="update your email">
          </td>
        </tr>

        <tr>
          <td>Old password (required):</td>
          <td>
            <input type="password" name="oldPassword" value="" placeholder="type your old password">
          </td>
        </tr>
        <tr>
          <td>New password:</td>
          <td>
            <input type="password" name="newPassword" value="" placeholder="type your new password">
          </td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>
            <button type="submit" name="buttonUpdateAccount" id="buttonUpdateAccount" title="Update account info">Update</button>
            <a href="/lists/{{user}}">
              <button type="button" id="buttonCancelAccountUpdates" title="Cancel your changes">Cancel</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  <h3>Delete account</h3>
  <button type="button" name="buttonDeleteAccountConfirm" id="buttonDeleteAccountConfirm" onclick="confirmDeletion()">DELETE</button>
  <form class="" action="/usersettings/deleteaccount?_method=DELETE" method="post">
    <button type="submit" name="buttonDeleteAccount" id="buttonDeleteAccount">DELETE</button>
  </form>
</section>

<script type="text/javascript">
  var buttonDeleteAccount = document.getElementById('buttonDeleteAccount');

  function confirmDeletion() {
    if (confirm("Are you sure you want to delete your account? All your lists and settings will be lost") === true) {
      buttonDeleteAccount.click()
    }
  }
</script>
