body {
  /*001-Box Model*/
  margin:0;
	padding:0;
  min-height: 100%;
  /*002-Positioning*/
  /*003-Typography*/
  font: 16px "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #1b512d;
  /*004-Backgrounds*/
  background: #73e2a7; /* fallback for old browsers */
}

#container {
  /*001-Box Model*/
  min-height: 100%;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

#headerDiv, #footerDiv {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
  background-color: #1b512d;
}

#footerDiv {
  /*001-Box Model*/
  width: 100%;
  height: 100px;
  /*002-Positioning*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*003-Typography*/
  /*004-Backgrounds*/
}

.headerthirds {
  /*001-Box Model*/
  width: 33%;
  margin: auto;
  height: 100px;
  /*002-Positioning*/
  display: inline-block;
  vertical-align: middle;
  /*003-Typography*/
  line-height: 100px;
  /*004-Backgrounds*/
}

#headerFirstThird h5 {
  line-height: 20px;
  padding-top: 30px;
}

header {
  /*001-Box Model*/
  height: 100px;
  max-width: 1400px;
  /*002-Positioning*/
  margin: auto;
  /*003-Typography*/
  text-align: center;
  /*004-Backgrounds*/
  background-color: #1b512d;
}

#sectionLoginSignup {
  /*001-Box Model*/
  padding: 5px 0;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

form {
  /*001-Box Model*/
  padding-top: 10px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

form table {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  font-size: 18px;
  /*004-Backgrounds*/
}

form input {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  font-size: 18px;
  /*004-Backgrounds*/
}

.tablesLoginSignup, #tableUpdateAccount {
  /*001-Box Model*/
  /*002-Positioning*/
  margin: auto;
  /*003-Typography*/
  /*004-Backgrounds*/
}

button {
  /*001-Box Model*/
  border: 2px solid #1b512d;
  border-radius: 5px;
  /*002-Positioning*/
  padding: 5px;
  /*003-Typography*/
  font-size: 18px;
  font-weight: bold;
  color: #1b512d;
  /*004-Backgrounds*/
  background-color: #def4c6;
}

button:hover {
  background-color: #1b512d;
  color: #def4c6;
  cursor: pointer;
}

table td {
  /*001-Box Model*/
  padding: 5px;
  /*002-Positioning*/
  vertical-align: bottom;
  /*003-Typography*/
  text-align: right;
  /*004-Backgrounds*/
}

nav {
  /*001-Box Model*/
  width: 60%;
  /*002-Positioning*/
  float: right;
 /*003-Typography*/
 font-size: 20px;
 line-height: 25px;
 padding: 10px;
  /*004-Backgrounds*/
}

.mainDiv {
  /*001-Box Model*/
  width: 100%;
  padding: 10px 0 100px 0;
  /*002-Positioning*/
  margin: auto;
  /*003-Typography*/
  text-align: center;
  /*004-Backgrounds*/
}

main {
  /*001-Box Model*/
  max-width: 1400px;
  /*padding: 10px 0 100px 0;*/
  /*002-Positioning*/
  margin: auto;
  /*003-Typography*/
  text-align: center;
  /*004-Backgrounds*/
}

footer {
  /*001-Box Model*/
  width: 100%;
  height: 100px;
  max-width: 1400px;
  /*002-Positioning*/
  margin: auto;
  /*003-Typography*/
  text-align: center;
  line-height: 100px;
  /*004-Backgrounds*/
  background-color: #1b512d;
}

h1 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: #def4c6;
  font-size: 44px;
  font-weight: 500;
  /*004-Backgrounds*/
}

h2 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: #def4c6;
  font-size: 32px;
  text-shadow:
  -1px -1px 0 #1b512d,
  1px -1px 0 #1b512d,
  -1px 1px 0 #1b512d,
  1px 1px 0 #1b512d;
  /*004-Backgrounds*/
}

h3 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: #def4c6;
  font-size: 28px;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #1b512d,
  1px -1px 0 #1b512d,
  -1px 1px 0 #1b512d,
  1px 1px 0 #1b512d;
  /*004-Backgrounds*/
}

h4 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: #def4c6;
  font-size: 24px;
  text-shadow:
   -1px -1px 0 #1b512d,
    1px -1px 0 #1b512d,
    -1px 1px 0 #1b512d,
     1px 1px 0 #1b512d;
  /*004-Backgrounds*/

}

h5 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: #def4c6;
  font-size: 20px;
  /*004-Backgrounds*/
}

a {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  text-decoration: none;
  color: #def4c6;
  /*004-Backgrounds*/
}

a:hover {
  color: #1b512d;
  text-shadow:
  -1px -1px 0 #def46c,
   1px -1px 0 #def46c,
   -1px 1px 0 #def46c,
    1px 1px 0 #def46c;
}

a h1:hover {
  color: #1b512d;
  cursor: pointer;
  text-shadow:
  -1px -1px 0 #def46c,
   1px -1px 0 #def46c,
   -1px 1px 0 #def46c,
    1px 1px 0 #def46c;
}

#buttonAddTask, #buttonLogout, #buttonDeleteAccount {
  display: none;
}

.spanCompletedTask important{
  display: none;
}

.spanCompletedTask:hover important{
  display: none;
}

/*
-------------------------------
NEW LIST SECTION
-------------------------------
*/

.sectionLists {
  /*001-Box Model*/
  width: 360px;
  margin: auto;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
  background: #1c7c54;
}

.sectionLists h1 {
  /*001-Box Model*/
  margin: 0;
  padding: 10px 20px;
  /*002-Positioning*/
  /*003-Typography*/
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  /*004-Backgrounds*/
}

.sectionLists ul {
  text-align: left;
/*list-style: none;
margin: 0;
padding: 0;*/
}

.sectionLists li {
  /*001-Box Model*/
  height: 40px;
  /*002-Positioning*/
  /*003-Typography*/
  line-height: 40px;
  color: #666;
  /*004-Backgrounds*/
	background: #fff;
}

.sectionLists li:nth-child(2n){
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
	background: #f7f7f7;
}

.sectionLists .hoverSpan {
  /*001-Box Model*/
  height: 40px;
  /*margin-right: 20px;*/
  width: 0;
  /*002-Positioning*/
  display: inline-block;
  /*003-Typography*/
  text-align: center;
  color: #def4c6;
  /*004-Backgrounds*/
	opacity: 0;
  /*005-Animation*/
  transition: 0.2s linear;
}

.hoverSpan:hover {
  cursor: pointer;
}

.span-done {
  color: #def4c6;
  float: right;
  /*height: 40px;*/
  width: 40px;
  text-align: center;
}

.divForButton{
  display: inline-block;
  float: right;
  background-color: #1c7c54;
  width: 40px;
  text-align: center;
  color: #def4c6;
}

.divForButton:hover {
  cursor: pointer;
  background-color: #1b512d;
}

.buttonCompletedTask {
  border: 0;
  padding: 0;
}

.sectionLists li:hover .hoverSpan {
  /*001-Box Model*/
  width: 40px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
	opacity: 1.0;
}

.bodyBackgroundImage{
  background-image: url("https://unsplash.it/1400/1050/?random");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.sectionContentFrame{
  /*001-Box Model*/
  width: 80%;
  margin: 0 auto 10px auto;
  padding: 10px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
  background-color: rgba(255,255,255, .5);
}

.sectionTextJustification {
  text-align: justify;
}

.sectionTextJustification ul{
  list-style-type: circle;
  margin-left: 20px;
}

.sectionTextJustification a:hover{
  color: #1b512d;
  text-shadow:
  -1px -1px 0 #def46c,
   1px -1px 0 #def46c,
   -1px 1px 0 #def46c,
    1px 1px 0 #def46c;
    cursor: pointer;
}

.sectionTextJustification a{
  color: #def46c;
  text-shadow:
  -1px -1px 0 #1b512d,
   1px -1px 0 #1b512d,
   -1px 1px 0 #1b512d,
    1px 1px 0 #1b512d;
}

.span-trash{
  background: #e74c3c;
}

.span-pencil{
  background: green;
}


.spanDeleteTask {
  margin-right: 20px;
}

.spanDeleteTask:hover {
  cursor: pointer;
}

.sectionLists ul li a {
  margin-left: 15px;
}

.fa-pencil {
  /*background: green;*/
}

.sectionLists input {
  /*001-Box Model*/
  width: 100%;
  padding: 13px 13px 13px 20px;
  border: 3px solid rgba(0,0,0,0);
  /*002-Positioning*/
  /*003-Typography*/
  font-size: 18px;
  color: #1b512d;
  /*004-Backgrounds*/
  background-color: #f7f7f7;
}

.sectionLists input:focus{
  /*001-Box Model*/
  /*002-Positioning*/
  border: 3px solid #b1cf5f;
  /*003-Typography*/
  /*004-Backgrounds*/
	background: #def4c6;
	outline: none;
}

.sectionLists a {
  color: #1b512d;
}

.sectionLists a:hover {
  font-weight: bold;
  cursor: pointer;
}

.fa-plus{
  /*001-Box Model*/
  /*002-Positioning*/
  float: right;
  /*003-Typography*/
  /*004-Backgrounds*/
}

.completed {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: gray;
  text-decoration: line-through;
  /*004-Backgrounds*/
}
