body {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  font: 14px "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
  /*004-Backgrounds*/
  background: #004FF9; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #004FF9, #FFF94C);
  background: -o-linear-gradient(right, #004FF9, #FFF94C);
  background: linear-gradient(to left, #004FF9, #FFF94C); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  /*001-Box Model*/
  min-height: 100%;
  /*002-Positioning*/
  position: relative;
  /*003-Typography*/
  /*004-Backgrounds*/
}

#headerDiv, #footerDiv {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
  background-color: #2980b9;
}

#footerDiv {
  /*001-Box Model*/
  width: 100%;
  /*002-Positioning*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*003-Typography*/
  /*004-Backgrounds*/
}

.headerthirds {
  /*001-Box Model*/
  width: 33%;
  margin: auto;
  height: 150px;
  /*002-Positioning*/
  display: inline-block;
  vertical-align: middle;
  /*003-Typography*/
  line-height: 150px;
  /*004-Backgrounds*/
}

#headerFirstThird h5 {
  line-height: 20px;
  padding-top: 55px;
}

header {
  /*001-Box Model*/
  height: 150px;
  max-width: 1400px;
  /*002-Positioning*/
  margin: auto;
  /*003-Typography*/
  /*line-height: 150px;*/
  text-align: center;
  /*004-Backgrounds*/
  background-color: #2980b9;
}

#sectionLoginSignup {
  /*001-Box Model*/
  padding: 5px 0;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

#sectionLoginSignup form {
  /*001-Box Model*/
  padding-top: 10px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

#sectionLoginSignup form table {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  font-size: 18px;
  color: white;
  /*004-Backgrounds*/
}

#sectionLoginSignup form input {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  font-size: 18px;
  /*004-Backgrounds*/
}

.tablesLoginSignup{
  /*001-Box Model*/
  /*002-Positioning*/
  margin: auto;
  /*003-Typography*/
  /*004-Backgrounds*/
}

button {
  /*001-Box Model*/
  border: 2px solid #1c567d;
  border-radius: 5px;
  /*002-Positioning*/
  padding: 5px;
  /*003-Typography*/
  font-size: 18px;
  font-weight: bold;
  color: #1c567d;
  /*004-Backgrounds*/
  background-color: white;
}

button:hover {
  background-color: #2980b9;
  color: white;
}

.tablesLoginSignup td {
  /*001-Box Model*/
  padding: 5px;
  /*002-Positioning*/
  vertical-align: bottom;
  /*003-Typography*/
  text-align: right;
  /*004-Backgrounds*/
}

nav {
  /*001-Box Model*/
  width: 60%;
  /*002-Positioning*/
  float: right;
 /*003-Typography*/
 font-size: 20px;
 line-height: 25px;
 padding: 25px;
  /*004-Backgrounds*/
}

main {
  /*001-Box Model*/
  max-width: 1400px;
  padding: 10px 0 100px 0;
  /*002-Positioning*/
  margin: auto;
  /*003-Typography*/
  text-align: center;
  /*004-Backgrounds*/
}

footer {
  /*001-Box Model*/
  height: 100px;
  max-width: 1400px;
  /*002-Positioning*/
  margin: auto;
  /*003-Typography*/
  text-align: center;
  line-height: 100px;
  /*004-Backgrounds*/
  background-color: #2980b9;
}


/*001-Box Model*/
/*002-Positioning*/
/*003-Typography*/
/*004-Backgrounds*/

h1 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: white;
  font-size: 44px;
  font-weight: 500;
  /*004-Backgrounds*/
}

h2 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: white;
  font-size: 32px;
  /*004-Backgrounds*/
}

h3 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: white;
  font-size: 28px;
  font-weight: bold;
  /*004-Backgrounds*/
}

h4 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: white;
  font-size: 24px;
  /*004-Backgrounds*/
}

h5 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  color: white;
  font-size: 20px;
  /*004-Backgrounds*/
}

a {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  text-decoration: none;
  color: white;
  /*004-Backgrounds*/
}

a h1:hover {
  color: #1c567d;
}
